RPC_URL=http://localhost:8899
WS_URL=ws://localhost:8900
PROGRAM_ID_VALIDATOR_LOCK=
ZKSL_MINT=9Yn6bnF3eKLqocUVMxduh7WWqgQZ8DvWQDYTX9Ncpump
CHAIN_ID=1
MIN_FINALITY_COMMITMENT=finalized

ARTIFACT_DIR=./data/artifacts
AGGREGATOR_KEYPAIR_PATH=./keys/aggregator.json

PORT=8080

DATABASE_URL=postgres://postgres:postgres@localhost:5432/zksl
REDIS_URL=redis://localhost:6379

